@charset "UTF-8";




@media screen and ( min-width: 768px) {

    #burg{
        display: none;
    }
    menu {
        display: block !important;
    }
    menu li {
        display: inline-block;
    }

    main{
        width: 728px;
    }
}