@charset "UTF-8";
/* 
    EM html é id = em css é # (só pode um elemento por pagina)
    em HTML é class = em css é .(pode varios elementos)
*/

body{
    background-color: #92B1A6;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0c1b16;
}
h1#principal{
    text-align: center;
    background-color: #18332A;
    color: white;
}
h2{
    color: #3B5C50;
}

.basico{
          color:#3B5C50 ;
          font-weight: bolder;
}

.intermediário{
    color: #5c5c3b;
}

.avançado{
    color: #5c3b3b;
}

.destaque{
    background-color: rgba(201, 201, 120, 0.61);
}



