@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body{

    background-image: linear-gradient(to right,#f1d8c9,#F2B279);
}
main{

    background-color: white;
    width: 600px;
    padding: 10px;   
    margin: auto; 
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.404) ;
}
h1{
    color:#F2B279 ;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.582);
}
h2{
    color: #E7C97F;
}

p{
    text-align: justify ;
}